{% extends "base.html" %}

{% block title %}DAIV{% endblock title %}

{% block body_content %}
  <div class="container">
    <h1>Apply changes from Merge Request</h1>
    <p>Choose the repository to apply the changes from the merge request.</p>

    <button
        hx-get="{% url 'api-1.0.0:search_repositories' %}"
        hx-target="#modals-here"
        hx-trigger="click"
        data-bs-toggle="modal"
        data-bs-target="#modals-here"
        class="btn btn-primary">Choose source repo</button>

    <button
        hx-get="{% url 'api-1.0.0:search_repositories' %}"
        hx-target="#modals-here"
        hx-trigger="click"
        data-bs-toggle="modal"
        data-bs-target="#modals-here"
        class="btn btn-primary">Choose target repo</button>

    <div id="modals-here"
        class="modal modal-blur fade"
        style="display: none"
        aria-hidden="false"
        tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock body_content %}
