repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: ["--branch", "main"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        name: Run the ruff linter
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        name: Run the ruff formatter

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.10.0"
    hooks:
      - id: pyproject-fmt
