x-app-defaults: &x_app_default
  build:
    context: ./
    dockerfile: ./docker/local/app/Dockerfile
  tty: true
  stdin_open: true
  restart: unless-stopped
  env_file:
    - docker/local/app/config.env
    - docker/local/app/config.secrets.env
  volumes:
    - ./data/static:/home/app/data/static
    - ./data/media:/home/app/data/media
    - ./data/tantivy_index_v1:/home/app/data/tantivy_index_v1
    - ./data/embeddings:/home/app/data/embeddings
    - .:/home/app/src
  depends_on:
    db:
      condition: service_healthy
      restart: true
    neo4j:
      condition: service_healthy
      restart: true
    redis:
      condition: service_healthy
      restart: true
    gitlab:
      condition: service_healthy
    sandbox:
      condition: service_healthy

services:
  db:
    image: pgvector/pgvector:pg17
    container_name: daiv-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: dbpass
      POSTGRES_DB: db
    volumes:
      - ./data/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dbuser -d db"]
      interval: 10s
      timeout: 10s
      start_period: 30s
      retries: 5
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    container_name: daiv-pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=srtabs@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=password
      - GUNICORN_ACCESS_LOGFILE=/dev/null
    volumes:
      - ./data/pgadmin:/root/.pgadmin
      - ./docker/local/pgadmin/servers.json:/pgadmin4/servers.json
    logging:
      driver: none
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy

  neo4j:
    image: neo4j:2025.03
    restart: unless-stopped
    container_name: daiv-neo4j
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:7474"]
      interval: 10s
      timeout: 10s
      start_period: 30s
      retries: 5
    environment:
      - NEO4J_AUTH=none
      - NEO4J_PLUGINS=["graph-data-science"]
    volumes:
      - ./data/neo4j/data:/data
      - ./data/neo4j/config:/config
      - ./data/neo4j/plugins:/plugins
    ports:
      - "7474:7474"
      - "7687:7687"

  redis:
    image: redis:latest
    command: redis-server --save "" --appendonly no
    restart: unless-stopped
    container_name: daiv-redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "6379:6379"

  app:
    <<: *x_app_default
    container_name: daiv-app
    command: sh /home/app/docker/start-app
    ports:
      - "8000:8000"

  worker:
    <<: *x_app_default
    container_name: daiv-worker
    command: sh /home/app/docker/start-worker
    environment:
      - C_FORCE_ROOT=true
    ports: []

  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: daiv-gitlab
    restart: unless-stopped
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://127.0.0.1:8929'
        gitlab_rails['gitlab_shell_ssh_port'] = 2224
    ports:
      - "8929:8929"
      - "2224:22"
    volumes:
      - "./data/gitlab/config:/etc/gitlab"
      - "./data/gitlab/logs:/var/log/gitlab"
      - "./data/gitlab/data:/var/opt/gitlab"

  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    container_name: daiv-gitlab-runner
    restart: unless-stopped
    volumes:
      - ./docker/local/gitlab-runner/config.toml:/etc/gitlab-runner/config.toml
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      gitlab:
        condition: service_healthy

  sandbox:
    build:
      context: ./../daiv-sandbox
      args:
        DOCKER_GID: 999
    tty: true
    stdin_open: true
    restart: unless-stopped
    container_name: daiv-sandbox
    env_file:
      - ./docker/local/sandbox/config.env
    ports:
      - "8888:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./../daiv-sandbox/daiv_sandbox:/home/app/daiv_sandbox
