site_name: DAIV
site_url: https://srtab.github.io/daiv/
repo_url: https://github.com/srtab/daiv
site_description: Documentation for DAIV
site_author: Sandro Rodrigues
strict: true
edit_uri: edit/main/docs/

theme:
  name: material
  icon:
    logo: material/robot-industrial-outline

  features:
    - search.highlight
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.tracking
    - navigation.path
    - content.code.annotate
    - content.code.copy
    - content.action.edit

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
      fallback_to_build_date: true

markdown_extensions:
  - attr_list
  - admonition
  - tables
  - md_in_html
  - pymdownx.highlight:
      linenums: true
      anchor_linenums: true
      auto_title: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
  generator: false
  version:
    provider: mike

nav:
  - Home: index.md
  - Getting Started:
    - Up and Running: getting-started/up-and-running.md
    - Configuration: getting-started/configuration.md
    - Supported Providers: getting-started/supported-providers.md
  - Configuration:
    - YAML Configuration: configuration/yaml-config.md
    - Environment Variables: configuration/env-config.md
    - Monitoring: configuration/monitoring.md
  - Features:
    - Issue Addressor: features/issue-addressor.md
    - Review Addressor: features/review-addressor.md
    - Slash Commands: features/slash-commands.md
  - AI Agents:
    - Overview: ai-agents/overview.md
    - Agent Skills: ai-agents/skills.md
    - MCP Tools: ai-agents/mcp-tools.md
  - Community: community.md
