[project]
name = "daiv"
version = "0.1.0-beta.5"
description = "Developer assistant automating code issues, reviews, and pipeline fixes using AI Agents."
readme = "README.md"
license = { file = "LICENSE" }
maintainers = [
  { name = "Sandro Rodrigues", email = "srtabs@gmail.com" },
]
authors = [
  { name = "Sandro Rodrigues", email = "srtabs@gmail.com" },
]
requires-python = ">=3.12"
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]
dependencies = [
  "celery[redis]==5.5.1",
  "django==5.2",
  "django-extensions==4.1",
  "django-ninja==1.4.1",
  "django-split-settings==1.3.2",
  "duckduckgo-search==8.0.1",
  "esprima==4.0.1",
  "get-docker-secret==2",
  "gunicorn==23",
  "httpx==0.28.1",
  "ipython==9.1",
  "jinja2==3.1.6",
  "langchain[anthropic,community,google-genai,openai,huggingface]==0.3.23",
  "langchain-text-splitters==0.3.8",
  "langchain-voyageai==0.1.4",
  "langgraph==0.3.31",
  "langgraph-checkpoint-postgres==2.0.21",
  "langsmith==0.3.32",
  "pgvector==0.4",
  "psycopg[pool]==3.2.6",
  "pydantic==2.11.3",
  "pydantic-settings==2.8.1",
  "python-decouple==3.8",
  "python-gitlab==5.6",
  "pyyaml==6.0.2",
  "redis==5.2.1",
  "sentry-sdk==2.26.1",
  "tantivy==0.22.2",
  "tree-sitter==0.21.3",
  "tree-sitter-languages==1.10.2",
  "unidiff==0.7.5",
  "uvicorn==0.34.1",
]

urls."Bug Tracker" = "https://github.com/srtab/daiv/issues"
urls.Repository = "https://github.com/srtab/daiv"

[dependency-groups]
dev = [
  "coverage==7.8",
  "jupyter==1.1.1",
  "mypy==1.15",
  "pre-commit==4.2",
  "pyopenssl==25",
  "pyproject-fmt==2.5.1",
  "pytest-asyncio==0.26",
  "pytest-cov==6.1.1",
  "pytest-django==4.11.1",
  "pytest-env==1.1.5",
  "pytest-mock==3.14",
  "pytest-xdist==3.6.1",
  "python-dotenv==1.0.1",
  "rich==14",
  "ruff==0.11.5",
  "types-pyyaml==6.0.12.20250402",
  "watchfiles==1.0.5",
]

[tool.ruff]
target-version = "py312"
line-length = 120
extend-exclude = [ "*/node_modules/*", "*/static/*" ]
force-exclude = true
preview = true
unsafe-fixes = true

show-fixes = true
format.skip-magic-trailing-comma = true
lint.select = [
  # flake8-builtins
  "A",
  # flake8-bugbear
  "B",
  # flake8-comprehensions
  "C4",
  # flake8-django
  "DJ",
  # pycodestyle
  "E",
  # eradicate
  "ERA",
  # Pyflakes
  "F",
  # flake8-logging-format
  "G",
  # isort
  "I",
  # flake8-logging
  "LOG",
  # pep8-naming
  "N",
  # flake8-use-pathlib
  "PTH",
  # flake8-bandit
  "S",
  # flake8-simplify
  "SIM",
  # flake8-print
  "T20",
  # flake8-type-checking
  "TCH",
  # pyupgrade
  "UP",
  # pycodestyle
  "W",
]
lint.ignore = [ "N812", "S101" ]
lint.isort.known-first-party = [
  "accounts",
  "automation",
  "chat",
  "codebase",
  "core",
]
lint.isort.section-order = [
  "future",
  "standard-library",
  "django",
  "third-party",
  "first-party",
  "local-folder",
]
lint.isort.sections."django" = [ "django" ]
lint.isort.split-on-trailing-comma = false

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "daiv.settings.test"
pythonpath = "daiv"
python_files = "test_*.py"
python_classes = "Test *Test"
addopts = "--cov --cov-config=.coveragerc"
asyncio_mode = "auto"

[tool.pytest_env]
DJANGO_SETTINGS_MODULE = "daiv.settings.test"
DJANGO_SECRET_KEY = "not-so-secret"
NINJA_SKIP_REGISTRY = true

[tool.mypy]
python_version = "3.12"
check_untyped_defs = true

[[tool.mypy.overrides]]
module = [
  "appconf.*",
  "celery.*",
  "chat.*",
  "decouple.*",
  "django.*",
  "django_extensions.*",
  "unidiff.*",
  "redis.*",
  "pgvector.*",
]
ignore_missing_imports = true
