[project]
name = "daiv"
version = "0.1.0-alpha.12"
description = "Developer assistant automating code issues, reviews, and pipeline fixes using AI Agents."
readme = "README.md"
license = { file = "LICENSE" }
maintainers = [
  { name = "Sandro Rodrigues", email = "srtabs@gmail.com" },
]
authors = [
  { name = "Sandro Rodrigues", email = "srtabs@gmail.com" },
]
requires-python = ">=3.12"
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]
dependencies = [
  "celery[redis]==5.4",
  "django==5.1.4",
  "django-appconf==1.0.6",
  "django-celery-beat==2.7",
  "django-extensions==3.2.3",
  "django-ninja==1.3",
  "django-split-settings==1.3.2",
  "duckduckgo-search==6.3.7",
  "esprima==4.0.1",
  "get-docker-secret==2",
  "gunicorn==23",
  "httpx==0.27.2",
  "ipython==8.30",
  "jinja2==3.1.4",
  "langchain==0.3.13",
  "langchain-anthropic==0.3.1",
  "langchain-community==0.3.13",
  "langchain-openai==0.2.14",
  "langchain-text-splitters==0.3.4",
  "langgraph==0.2.60",
  "langgraph-checkpoint-postgres==2.0.9",
  "langsmith==0.2.4",
  "pgvector==0.3.6",
  "psycopg==3.2.3",
  "pydantic==2.10.4",
  "python-decouple==3.8",
  "python-gitlab==5.2",
  "pyyaml==6.0.2",
  "redis==5.2.1",
  "sentry-sdk==2.19.2",
  "tantivy==0.22",
  "tree-sitter==0.21.3",
  "tree-sitter-languages==1.10.2",
  "unidiff==0.7.5",
  "uvicorn==0.34",
]

urls."Bug Tracker" = "https://github.com/srtab/daiv/issues"
urls.Repository = "https://github.com/srtab/daiv"

[dependency-groups]
dev = [
  "coverage==7.6.9",
  "mypy==1.13",
  "pre-commit==4.0.1",
  "pyopenssl==24.3",
  "pyproject-fmt==2.5",
  "pytest-asyncio==0.25",
  "pytest-cov==6",
  "pytest-django==4.9",
  "pytest-env==1.1.5",
  "pytest-mock==3.14",
  "pytest-xdist==3.6.1",
  "ruff==0.8.4",
  "types-pyyaml==6.0.12.20240917",
  "watchfiles==1.0.3",
]

[tool.ruff]
target-version = "py312"
line-length = 120
extend-exclude = [ "*/node_modules/*", "*/static/*" ]

force-exclude = true
preview = true
show-fixes = true
format.skip-magic-trailing-comma = true
lint.select = [
  # flake8-builtins
  "A",
  # flake8-bugbear
  "B",
  # flake8-comprehensions
  "C4",
  # flake8-django
  "DJ",
  # pycodestyle
  "E",
  # eradicate
  "ERA",
  # Pyflakes
  "F",
  # flake8-logging-format
  "G",
  # isort
  "I",
  # flake8-logging
  "LOG",
  # pep8-naming
  "N",
  # flake8-use-pathlib
  "PTH",
  # flake8-bandit
  "S",
  # flake8-simplify
  "SIM",
  # flake8-print
  "T20",
  # flake8-type-checking
  "TCH",
  # pyupgrade
  "UP",
  # pycodestyle
  "W",
]
lint.ignore = [ "N812", "S101" ]
lint.isort.known-first-party = [
  "accounts",
  "automation",
  "codebase",
  "core",
]
lint.isort.section-order = [
  "future",
  "standard-library",
  "django",
  "third-party",
  "first-party",
  "local-folder",
]
lint.isort.sections."django" = [ "django" ]
lint.isort.split-on-trailing-comma = false

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "daiv.settings.test"
pythonpath = "daiv"
python_files = "test_*.py"
python_classes = "Test *Test"
addopts = "--cov --cov-config=.coveragerc"

[tool.pytest_env]
DJANGO_SETTINGS_MODULE = "daiv.settings.test"
DJANGO_SECRET_KEY = "not-so-secret"
DB_HOST = "db"
DB_NAME = "db"
DB_USER = "dbuser"
DB_PASSWORD = "dbpass"
DB_PORT = "5432"
DB_SSLMODE = "prefer"

[tool.mypy]
python_version = "3.12"
check_untyped_defs = true

[[tool.mypy.overrides]]
module = [
  "appconf.*",
  "celery.*",
  "decouple.*",
  "django.*",
  "django_extensions.*",
  "unidiff.*",
  "redis.*",
  "pgvector.*",
]
ignore_missing_imports = true
