{% load i18n %}
<div data-row class="grid grid-cols-12 gap-3 items-start">
    {% if row.instance.pk %}{{ row.id }}{% endif %}

    <div class="col-span-4">
        {{ row.domain }}
        {% if row.errors.domain %}
            <p class="mt-1 text-xs text-red-300">{{ row.errors.domain.0 }}</p>
        {% endif %}
    </div>

    <div class="col-span-3">
        {{ row.header_name }}
        {% if row.errors.header_name %}
            <p class="mt-1 text-xs text-red-300">{{ row.errors.header_name.0 }}</p>
        {% endif %}
    </div>

    <div class="col-span-4">
        {{ row.header_value }}
        {% if row.fields.header_value.secret_hint %}
            <p class="mt-1 text-xs text-gray-400">{% trans "Stored:" %} <code>{{ row.fields.header_value.secret_hint }}</code></p>
        {% endif %}
        {% if row.errors.header_value %}
            <p class="mt-1 text-xs text-red-300">{{ row.errors.header_value.0 }}</p>
        {% endif %}
    </div>

    <div class="col-span-1 flex items-center justify-end pt-1">
        <span class="hidden">{{ row.DELETE }}</span>
        <button type="button"
                class="inline-flex h-9 w-9 items-center justify-center rounded-md text-gray-400 hover:bg-white/[0.06] hover:text-red-300 focus:outline-none focus:ring-2 focus:ring-red-400/40"
                @click="removeRow($el.closest('[data-row]'))"
                aria-label="{% trans 'Remove' %}"
                title="{% trans 'Remove' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5" aria-hidden="true">
                <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
</div>
