name: Documentation

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
      - '.github/workflows/docs.yml'

  pull_request:
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
      - '.github/workflows/docs.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install docs dependencies
        run: uv sync --locked --only-group=docs

      - name: Test build docs
        run: uv run mkdocs build --clean --strict

  publish:
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install docs dependencies
        run: uv sync --locked --only-group=docs

      - name: Set git credentials
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Deploy docs dev version
        run: uv run --only-group=docs mike deploy dev --push
        if: github.ref == 'refs/heads/main'

      - name: Deploy docs release version
        run: uv run --only-group=docs mike deploy ${{ github.ref_name }} latest --update-aliases --push
        if: startsWith(github.ref, 'refs/tags/')
